body {
    background-color:#00004a;
    color: #4169E1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100vh;
    margin: 0;
}

header{
    background-color: var(--primary-color);
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: var(--bg-color);
    font-weight: 700;
}

